<div class="portaCartao">
    <div class="cartao">
        <div class="lado frente">
            <div class="row">
                <div class="col-4">
                    <img src="../../assets/images/me.gif" alt="Autor" class="autor-img">
                </div>
                <div class="col-8">
                    <h1 class="info">Andréia Alencar</h1>
                    <p class="info">Front-End Developer</p>
                </div>
            </div>
        </div>
        <div class="lado verso">
            <p>Andréia Alencar<br> Mestra em Ciência pela EESC Formada em Engenharia de Computação pela UTFPR<br /> Front-End Developer - São Paulo<br /><br />andreiaalencarcs@hotmail.com
                <br /> linkedin.com/in/andreiaalencar
                <br /> github.com/andreiaacs
            </p>
        </div>
    </div>
</div>