<ng-container *ngIf="!loading; else loader">
    <section id="team" class="pb-5">
        <div class="container">
            <h1 class="section-title h1">PERSONAGENS</h1>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><img src="../../assets/images/vingadores.png"></div>
                </div>
                <input type="text" [(ngModel)]="filtro" (ngModelChange)='filtrar(filtro)' class="form-control" id="inlineFormInputGroupUsername" placeholder="Personagem">
            </div>
            <br />
            <div>
                <pagination-controls responsive="true" class="pagination justify-content-center" id="heroi" (pageChange)="p = $event"></pagination-controls>
            </div>
            <div class="row">
                <div *ngFor="let character of characters | paginate: {  id: 'heroi',
                                                                        itemsPerPage: pageSize,
                                                                        currentPage: p,
                                                                        totalItems: total}" class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src={{character.thumbnail.path}}.{{character.thumbnail.extension}} alt="{{character.name}}"></p>
                                        <h4 class="card-title">{{character.name}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">{{character.name}}</h4>
                                        <p class="card-text">{{character.description}}</p>

                                        <span class="tw-heart-box">
                                                <input type="checkbox" name="name" value="">
                                                <span class="tw-heart"></span>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</ng-container>
<ng-template #loader>
    <div class="container d-flex justify-content-center mt-4">
        <img class="fa-blink loader-img" src="../../assets/images/loader.png" alt="Loading...">
    </div>
</ng-template>